.faqs-container {
    font-family: "Roboto", sans-serif;
    max-width: 700px;
    margin: 0 auto;
}

.faqs-container .questions-container {
    box-shadow: 0 4px 8px -3px rgba(0, 0, 0, 0.3);
}

.faqs-container h2 {
    padding: 4px 32px;
    font-size: 28px;
}

.faqs-container .faq-header {
    display: flex;
    background: #03071e;
    color: #f1faee;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.faqs-container .faq-header .open,
.faqs-container .faq-header .close {
    position: absolute;
    right: 0;
    padding: 0 32px;
    font-size: 22px;
    font-weight: bold;
    transform: translateY(-8px);
    opacity: 0;
    transition: all 500ms;
}

.faqs-container .faq-header .open.active,
.faqs-container .faq-header .close.active {
    opacity: 1;
    transform: translateY(0);
}

.faqs-container .faq-header h3 {
    font-size: 20px;
    padding: 0 32px;
}

.faqs-container .content {
    padding: 0 32px;
    background: #fdfffc;
    line-height: 2;
    max-height: 0;
    overflow: hidden;
    transition: all 500ms;
}

.faqs-container .content.active {
    max-height: 600px;
}