@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&family=Rambla:wght@400;700&display=swap");
a {
  text-decoration: none;
  color: white !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  background-color: #272727;
  color: #fff;
  font-family: rambla;
  font-size: 16px;
  overflow: auto;
}

.alert .alert-black {
  z-index: 999;
}

.hide {
  visibility: hidden;
}

.lock {
  z-index: 9999;
  position: fixed;
  bottom: 20px;
  left: 50px;
  cursor: pointer !important;
  padding: 6px 12px;
  background-color:rgb(36, 36, 36);
  border: 1px solid rgba(212, 212, 212, 0.881);
  border-radius: 7px;
  box-shadow: inset 0 0 4px .3px rgba(165, 165, 165, 0.5)
  , 0 0 4px .3px rgba(165, 165, 165, 0.5);
}

.lock:hover{
  background-color: #fff;
  color: #000;
  box-shadow: inset 0 0 4px .3px rgba(0, 0, 0, 0.5)
  , 0 0 4px .3px rgba(0, 0, 0, 0.5);
  
}

.lockUnlock {
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  background: linear-gradient(0deg, rgba(30, 255, 0, 0.3), rgba(17, 16, 17, 0.3)), url(assets/images/wallpaper2you_205177.gif);
  background-size: cover;
  opacity: 1;
}
.lockUnlock .unlockContent {
  justify-content: center;
  color: #fff;
  width: 400px;
}
.lockUnlock .unlockContent input,
.lockUnlock .unlockContent button {
  width: 100%;
}
.lockUnlock .unlockContent input {
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 10px;
  outline: none;
  color: #272727;
}

.lockUnlock img:hover{
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 
  0% { transform: translateX(0);}
  25% {transform: translateX(75px);}
  50% {transform: translateX(0);}
  75% {transform: translateX(-75px);}
  100% {transform: translateX(0);}

}
@-webkit-keyframes spin { 
  0% { transform: translateX(0);}
  25% {transform: translateX(75px);}
  50% {transform: translateX(0);}
  75% {transform: translateX(-75px);}
  100% {transform: translateX(0);}
}

@keyframes spin { 
  0% { transform: translateX(0);}
  25% {transform: translateX(75px);}
  50% {transform: translateX(0);}
  75% {transform: translateX(-75px);}
  100% {transform: translateX(0);}

}


.lockUnlock .unlockContent button {
  color: white;
  border: none;
  outline: none;
  background: #000;
  padding: 10px 0;
  border-radius: 10px;
  border: 1px solid #fff;
  transition: background-color 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.lockUnlock .unlockContent button:hover {
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.header-section {
  background-color: #000;
  box-shadow: 0 1px 10px 4px #424242;
}

.header {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a {
  border-radius: 5px;
  transition: background 1s ease-in-out;
}
.header a .logo_style {
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #fff;
  font-size: 1.5rem;
}
.header a .logo_style .logoDevv {
  background-color: #fff;
  padding: 4px 10px;
  color: #000;
  border-radius: 5px;
  margin-left: -2px;
}
.header a .logo_style .logoSakib {
  padding: 4px 10px 4px 15px;
  font-size: 1.5rem;
  border-radius: 3px;
  margin-left: -13px;
}
.header a:hover .logoDevv {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #000;
  color: #fff;
  transition: 400ms ease-in-out;
}
.header a:hover .logo_style {
  border-color: #000;
  background: #fff;
  transition: 400ms ease-in-out;
}
.header a:hover .logoSakib {
  transition: 400ms ease-in-out;
  color: #000;
}
.header .menuContainer {
  width: 225px;
}
.header .menuContainer ul {
  display: flex;
  justify-content: space-between;
}
.header .menuContainer ul li a {
  text-transform: uppercase;
}

.hero-section {
  height: calc(100vh - 67.83px);
  position: relative;
  overflow-x: hidden;
}
.hero-section .hero-title {
  font-weight: bold;
  font-size: 120px;
}
.hero-section .hero-subtitle {
  font-size: 4rem;
}
.hero-section .hero-image img {
  width: 100%;
}
.hero-section .fixed-img {
  position: absolute;
  width: 100px;
  height: auto;
}
.hero-section .git {
  width: 70px;
  top: 50px;
  left: 15px;
  -webkit-animation: fixed-img 2s linear infinite alternate;
          animation: fixed-img 2s linear infinite alternate;
}
.hero-section .vue {
  top: 50px;
  width: 40px;
  transform: translateY(20px) rotate(50deg);
  left: 350px;
  -webkit-animation: fixed-img-up-down 2s forwards infinite alternate;
          animation: fixed-img-up-down 2s forwards infinite alternate;
}
.hero-section .github {
  top: 230px;
  width: 40px;
  transform: translateY(0px);
  left: 250px;
  -webkit-animation: fixed-img-up-down 2s linear infinite alternate;
          animation: fixed-img-up-down 2s linear infinite alternate;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.hero-section .bigImg,
.hero-section .backendImg {
  top: 400px;
  opacity: 0.5;
  width: 150px;
  transform: translateY(0px);
  left: 50%;
  -webkit-animation: fixed-img 2s backwards infinite alternate;
          animation: fixed-img 2s backwards infinite alternate;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.hero-section .backendImg {
  top: 420px;
  left: 35%;
}
.hero-section .downArrow {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  right: 50%;
  -webkit-animation: upDown 600ms linear infinite alternate;
          animation: upDown 600ms linear infinite alternate;
}
.hero-section .downArrow i {
  font-size: 1.3rem;
}
@-webkit-keyframes upDown {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(10px);
  }
}
@keyframes upDown {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(10px);
  }
}

@-webkit-keyframes fixed-img {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30px);
  }
}

@keyframes fixed-img {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30px);
  }
}
@-webkit-keyframes fixed-img-up-down {
  0% {
    transform: translateY(0) rotate(20deg);
  }
  100% {
    transform: translateX(30px) rotate(0deg);
  }
}
@keyframes fixed-img-up-down {
  0% {
    transform: translateY(0) rotate(20deg);
  }
  100% {
    transform: translateX(30px) rotate(0deg);
  }
}
.alert-dismissible {
  margin-bottom: -5px;
}

.alert-dismissible {
  margin-bottom: -5px;
}

@media (max-width: 840px) {
  .hero-section {
    margin-top: -40px;
  }
  .hero-section .hero-title {
    font-size: 5rem;
  }
  .hero-section .hero-subtitle {
    font-size: 3rem;
  }
  .hero-section .hero-tagline {
    font-size: 0.8rem;
  }
  .hero-section .bigImg,
.hero-section .backendImg {
    margin-top: 40px;
  }
  .hero-section .backendImg {
    margin-left: -60px;
  }
}
@media (max-width: 600px) {
  .hero-section {
    margin-top: -40px;
  }
  .hero-section .hero-title {
    font-size: 4rem;
  }
  .hero-section .hero-subtitle {
    font-size: 1.4rem;
  }
  .hero-section .hero-tagline {
    font-size: 0.8rem;
  }
}
@media (max-width: 465px) {
  .hero-section .forMd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -100px;
  }
  .hero-section .hero-title {
    font-size: 4rem;
  }
  .hero-section .hero-subtitle {
    font-size: 1.5rem;
  }
  .hero-section .hero-tagline {
    font-size: 0.8rem;
  }
  .hero-section .hero-image {
    margin-top: 40px;
    width: 80vw;
  }
  .hero-section .git {
    top: 80px;
  }
  .hero-section .github {
    top: 200px;
  }
  .hero-section .vue {
    left: 200px;
  }
  .hero-section .bigImg,
.hero-section .backendImg {
    display: none;
  }
}
@media (max-width: 360px) {
  .header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .header .logo_style {
    margin-bottom: 10px;
  }
  .hero-section {
    margin-top: -60px;
  }
  .hero-section .forMd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -100px;
  }
  .hero-section .hero-title {
    font-size: 4rem;
  }
  .hero-section .hero-subtitle {
    font-size: 1.5rem;
  }
  .hero-section .hero-tagline {
    font-size: 0.8rem;
  }
  .hero-section .hero-image {
    margin-top: 40px;
    width: 80vw;
  }
  .hero-section .git {
    top: 80px;
  }
  .hero-section .github {
    top: 200px;
  }
  .hero-section .vue {
    left: 200px;
  }
  .hero-section .bigImg,
.hero-section .backendImg {
    display: none;
  }
}
@media (max-width: 275px) {
  .header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .header .logo_style {
    margin-bottom: 10px;
  }
  .hero-section {
    margin-top: -40px;
    text-align: center;
    width: 100vw;
  }
  .hero-section .forMd {
    margin: 0 auto;
  }
  .hero-section .col-6 {
    width: 100vw;
    padding: 0;
  }
  .hero-section .hero-title {
    margin-left: -50px !important;
    font-size: 20vw;
  }
  .hero-section .hero-subtitle {
    font-size: 12vw;
    margin-left: -50px !important;
  }
  .hero-section .hero-tagline {
    margin-left: -50px !important;
    font-size: 7vw;
  }
}
.footer-section footer {
  padding: 10px;
  text-align: center;
  background-color: #414040;
}/*# sourceMappingURL=style.css.map */